


  <h3 class="title-description" style= " margin-left:250px !important;">                    AddService.</h3>
     <div class="row">
        	<div class="span9">

        	     <form id="contact-form" (submit) = "onAddingServiceSubmit()">
            	  <p class="contact-name">
            		<input id="contact_name"   style= " margin-left:250px !important;" type="text" [(ngModel)]="name" name ="name" placeholder="ServiceName" value="" name="name" />
                </p>
                <p class="contact-email">
                	<input id="contact_email"  style= " margin-left:250px !important;" type="text" [(ngModel)]="description" name ="description" placeholder="description" value="" name="description" />
                </p>
                <p class="contact-message">
                <input id="contact_email"   style= " margin-left:250px !important;" type="text" [(ngModel)]="price" name ="price" placeholder="price" value="" name="price" />

                </p>
                <p class="contact-message">
                <input id="contact_email"   style= " margin-left:250px !important;" type="text" [(ngModel)]="maxSlotClients" name ="maxSlotClients" placeholder="maxSlotClients" value="" name="maxSlotClients" />

                </p>
                <p class="contact-message">
                <input id="contact_email"   style= " margin-left:250px !important;" type="text" [(ngModel)]="slotDuration" name ="slotDuration" placeholder="slotDuration" value="" name="slotDuration" />

                </p>

                <p class = "contact-submit">
                <button  class="button" style= " margin-left:250px !important;"type="submit">Submit</button>
                </p>






                      <div id="response">

                      </div>
               </form>

        </div>
                </div>
