<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
        <div></div>
    </div>

    <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<div id="work" class="page">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Okhrog.com</h2>
                    <h3 class="title-description"> Suggested outings. </h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
        <div class="span6">

                <div class="tabbable">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#viewall" data-toggle="tab">All Businesses</a></li>
                        <li><a (click) = "topBusinesses()" href="#viewtop" data-toggle="tab">Top 10 Businesses</a></li>
                        <li><a (click) = "searchForBusiness()" href="#search" data-toggle="tab">Search</a></li>

                    </ul>

                    <div class="tab-content" style="width:1300px !important;">
                        <div class="tab-pane fade in active" id="viewall">
                        <ul style="list-style: none;">
                        <div *ngFor="let business of businesses">
                                <li style = "float: left; margin-left: 10px;" >
                                <br>
                                    <figure> <img style = "height:300px !important;width:200px !important;" src={{business.profilepicture}}>
                                        <br>
                                            Name: {{business.businessName}} <br>
                                            Rating: {{business.rating}} <br>
                                            Description: {{business.description}} <br>
                                            location: {{business.location}}
                                        <figcaption><button class ="button" value={{business._id}} (click) = "onButtonClicked($event)">More Details</button></figcaption>
                                    </figure>
                                </li>

                        </div>
                        </ul>
                        </div>


                        <div class="tab-pane fade in" id="viewtop">
                         <ul style="list-style: none;">
                        <div *ngFor="let TopBusiness of TopBusinesses">
                        <li style = "float: left; margin-left: 10px;" >
                        <br>
                           <figure> <img style = "height:300px !important;width:200px !important;" src={{TopBusiness.profilepicture}}>
                           <br>
                             Name: {{TopBusiness.businessName}} <br>
                             Rating: {{TopBusiness.rating}} <br>
                             Description: {{TopBusiness.info}} <br>
                             location: {{TopBusiness.location}}
                           <figcaption><button class ="button" value={{TopBusiness._id}} (click) = "onButtonClicked($event)">More Details</button></figcaption>
                           </figure>
                           </li>
                        </div>
                        </ul>
                        </div>

                        <div class="tab-pane fade in" id="search">

                              <form (submit)="searchForBusiness($event)">
                                  <div class="form-group">
                                      <input class="form-control" type="text" placeholder="Search.. " [(ngModel)]="search" name="search"/>
                                  </div>
                              </form>

                                <div *ngFor="let searchedBusiness of searchedBusinesses">

                                        <figure> <img style = "height:300px !important;width:200px !important;" src={{searchedBusiness.profilepicture}}>
                                            <br>
                                                Name: {{searchedBusiness.businessName}} <br>
                                                Rating: {{searchedBusiness.rating}} <br>
                                                Description: {{searchedBusiness.info}} <br>
                                                location: {{searchedBusiness.location}}
                                            <figcaption><button class ="button" value={{searchedBusiness._id}} (click) = "onBusinessClicked($event)">Learn More</button></figcaption>
                                        </figure>
                                        <br>


                                </div>
                        </div>


                    </div>

                </div>
            </div>
    </div>
</div>

<!-- End About Section -->


<!-- Contact Section -->

<!-- End Contact Section -->
