<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <div id="logo">
          <a id="goUp" href="#home-slider"></a>
        </div>

        <nav id="menu">
        	<ul id="menu-nav">
            <li><a (click)="openFacebook()"><span class="font-icon-social-facebook"></span></a></li>
            	<li *ngIf="!authService.loggedIn()" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
              <li *ngIf="authService.isClient()" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/Profile']">Home</a></li>
              <li *ngIf="authService.isBprovider()" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/Bprovider']">Home</a></li>
              <li *ngIf="authService.isAdmin()" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/Admin']">Home</a></li>
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['current']"  [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']">Login</a></li>
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['current']"  [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']">Sign up</a></li>
                <li *ngIf="authService.loggedIn()" ><a (click)="onLogoutClick()"  >Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
